*.rsf
*.o
*.vpl
*.png
!images/*.png
!diagrams/*.png
*.pyc
*.jpeg
sf*
.sconsign
sf*
crsParameters-*
creTimeCurve-*
creMhCoordinates-*
creMcoordinate-*
creGather-*
experiments/backup/*
experiments/generateStackedSection/*
!experiments/generateStackedSection/SConstruct
*.aux
*.bbl
*.blg
*.lof
*.log
*.ltx
*.out
backup/
*.pdf
*.scons
checkpoints
*.jp2
.ipynb_checkpoints/
*.asc
*.x
*.deploy
*.h
